h1 {
    margin-top: 0.5em;
    font-size: 2.9em;
    margin-bottom: 0.4em;
    text-align: center;
}

img {
    width: 60px;
    height: 60px;
    float: left;
}

p {
    font-size: 1.1em;
    line-height: 0.8;
    text-align: justify;
}

span {
    padding-left: 2.0em;
}